<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- image.title %></title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/gallery">Gallery</a>
  </nav>

  <main>
    <h1><%- image.title %></h1>

    <figure id="endpoint">
      <img src="/images/lrg/<%- image.fileName %>" alt="${photoById.title}" id="${PId}">
      <figcaption><%- image.title %>, by: <em><a href="<%- image.attribution.url %>"
            target="_blank"><%- image.attribution.credit %></a></em> (<%- image.attribution.source %>)</figcaption>
    </figure>

  </main>

  <%- include('partials/footer') %>